* {
  margin: 0;
  padding: 0;
  font: inter;
}
body {
  font-family: SF Display;
}
main {
  background-color: #fafafa;
}
nav {
  width: 80%;
  height: 42px;
  margin-top: 21px;
  text-decoration: none;
}
.logo-unread {
  width: 80px;
  margin-right: 10px;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-size: 100%;
  height: 957.38px;
  padding-top: 100px;
}
.hero-content {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 121px;
  gap: 50px;
}
.left {
  height: 446.4px;
  width: 446.4px;
  background-size: 150%;
  background-position: center;
  border-radius: 24px;
  transition: all 1s ease;
}
.left:hover {
  background-size: 200%;
  background-repeat: no-repeat;
}
.right {
  font-size: 26px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 669.6px;
}
.subtitle {
  color: #0078f6;
  opacity: 34.9%;
  text-transform: uppercase;
}
.author img {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-right: 20px;
}
.author {
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  color: grey;
}
.on {
  font-size: 11.8px;
}
.next {
  text-transform: uppercase;
  color: rgba(206, 206, 206);
}
.next-next {
  color: rgba(206, 206, 206);
}
.button {
  color: blue;
  size: 10px;
}
.tomorrow {
  color: white;
  position: center;
  margin-left: 10px;
  font-size: 11.8px;
}
.tmrw {
  background-color: rgba(206, 206, 206, 0.5);
  width: 125.68px;
  height: 40px;
  border-radius: 30px;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
}
.form {
  background-color: transparent;
  border: none;
  outline: none;
}
.logo {
  margin-left: 10px;
  width: 16px;
  height: 15px;
  opacity: 30%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}
.nav-mid {
  display: flex;
  justify-content: space-between;
  width: 1116px;
}
.head-left {
  display: flex;
  align-items: center;
}
.head-right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.selected {
  width: 1156px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100.5px;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}
.container {
  margin-top: -190px;
  display: flex;
  justify-content: space-around;
  max-width: 1635px;
  gap: 18px;
  margin-left: auto;
  margin-right: auto;
}
.container div {
  width: 281px;
  height: 416.19px;
  background-size: 120%;
  border-radius: 10px;
}
.read {
  display: flex;
  gap: 220px;
  padding: 10px;
}
.text {
  color: white;
}
.bottom-text {
  margin-top: -140px;
  margin-left: 10px;
}
.txt1 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 90px;
  width: 200px;
}
.txt2 {
  color: white;
  border: solid 2px rgb(#0078f6);
  border-radius: 50px;
  background-color: #0078f6;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.listed {
  margin-top: 50px;
  justify-content: space-between;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.listed-new {
  margin-top: 10px;
  height: 183px;
  width: 739px;
  background-color: white;
  color: blue;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author-info {
  display: flex;
  justify-content: flex-start;
}
.cover {
  height: 135px;
  width: 135px;
}
.news-title {
  color: black;
  font-size: 24px;
}
.listed-right {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.author-info-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.info {
  padding: 10px;
}
.Part-2 {
  margin-top: 100px;
}
.item-1 {
  padding: 20px;
  font-size: 30px;
  text-align: bottom;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 10px;
  background-image: url(Div\ [uk-cover-background].png);
  background-size: 100%;
  width: 540px;
  position: relative;
}
.item-2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
  background-image: url(content2.png);
  background-size: 100%;
  width: 245px;
}
.item-3 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
  background-image: url(content3.png);
  background-size: 100%;
  width: 245px;
}
.item-4 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content4.png);
  background-size: 110%;
  width: 245px;
}
.item-5 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content5.png);
  background-size: 110%;
  background-repeat: no-repeat;
  width: 245px;
}

.item-6 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content6.png);
  background-size: 110%;
  background-repeat: no-repeat;
  width: 245px;
}

.item-7 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content7.png);
  background-size: 110%;
  background-repeat: no-repeat;
  width: 245px;
}
.grid-container {
  display: grid;
  height: 633.9px;
  width: 1170px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}
.weekly-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-bottom: solid black 2px;
}
.weekly-news div:hover {
  color: blue;
}
.item-8 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-radius: 10px;
  background-image: url(content8.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.item-9 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
  background-image: url(content9.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.item-10 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 10px;
  background-image: url(content10.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.item-11 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content11.png);
  background-size: 110%;
  background-repeat: no-repeat;
}
.item-12 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content12.png);
  background-size: 110%;
  background-repeat: no-repeat;
}
.item-13 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(Content13.png);
  background-size: 110%;
  background-repeat: no-repeat;
}
.item-14 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  border-radius: 10px;
  background-image: url(content14.png);
  background-size: 110%;
  background-repeat: no-repeat;
}
.grid-container {
  display: grid;
  height: 633.9px;
  width: 1170px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}
.backbone {
  height: 100px;
  color: rgba (0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: flex-end;
  position: absolute;
}
